# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environnements virtuels
venv/
env/
.venv/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# Releases locales (binaires générés)
releases/

# =========================
# OS
# =========================
# macOS
.DS_Store

# =========================
# Éditeurs / IDE
# =========================
.vscode/
*.swp
*.swo
# =========================
# Mes fichier mémos
# =========================
*.pdf
*.odt